# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates

# Node / Frontend
node_modules/
dist/
.eslintcache
.vite/

# Database
data/database/*.db
data/database/*.db-shm
data/database/*.db-wal

# Resources (Static Assets)
resources/*
!resources/.gitkeep

# IDEs
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Video files
*.mp4
*.mov
*.webm
*.avi
*.mkv