# Environment Variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/
dist/
.eslintcache
.vite/

# Database
data/database/*.db
data/database/*.db-shm
data/database/*.db-wal

# Resources (Static Assets)
resources/*
!resources/.gitkeep

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# IDEs
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Media
*.mp4
*.mov
*.webm
*.avi
*.mkv
*.mp3
*.wav
*.flac